/*-- -------------------------- -->
<---          About Us          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbs-2276 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 25ch;
        }

        .cs-text {
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-signature {
            width: (170/16rem);
            height: auto;
            margin-bottom: (8/16rem);
            display: block;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            width: (180/16rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            gap: (48/16rem);
        }

        .cs-image-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: (32/16rem);

            a {
                display: none;
                flex: none;
            }
        }

        .cs-picture {
            width: 100%;
            height: 90vw;
            max-height: (500/16rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2276 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            /* 32px - 64px */
            gap: clamp(2rem, 5vw, 4rem);
        }
        
        .cs-title {
            margin: 0;
        }

        .cs-wrapper {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-flex {
            /* 12px to 40px */
            padding: clamp(.75rem, 3vw, 2.5rem) 0;
            align-self: center;
        }

        .cs-picture1 {
            height: (400/16rem);
            max-height: initial;
        }

        .cs-picture2 {
            width: 47vw;
            max-width: (362/16rem);
            height: auto;
            max-height: 100%;
            order: -1;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2276 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-desc {
            margin: 0;
        }

        .cs-flex {
            .cs-button-solid {
                display: none;
            }
        }

        .cs-image-group {
            width:50%;
            max-width: (413/16rem);

            a {
                display: inline-block;
            }
        }

        .cs-picture1 {
            height: 100%;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 75rem) {
    #sbs-2276 {
        .cs-image-group {
            margin-bottom: (84/16rem);
        }
    }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px- Contains Hover State */
@media only screen and (min-width: 0rem) {
    #services-279 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: (523/16rem);
            width: 100%;
            background: #1a1a1a;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: (20/16rem);
            row-gap: (60/16rem);
        }

        .cs-item {
            list-style: none;
            margin: 0;
            width: 80%;
            /* changes to 100% at tablet */
            max-width: (348/16rem);

            &:hover {
                .cs-picture {
                    &:before {
                        height: 100%;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            aspect-ratio: 348/433;
            position: relative;
            display: block;
            /* Keeps image from bleeding outside the picture element */
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 0%;
                width: 100%;
                background: var(--primary);
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
                transition: height 0.3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act like a background image */
                object-fit: cover;
                transition: transform 0.7s;
            }
        }

        .cs-box {
            /* Centers the button */
            text-align: center;
            width: 90%;
            margin: 0 auto;
            /* -32px to -48px */
            margin-top: ~"calc(clamp(2rem, 7vw, 3rem)*-1)";
            padding-top: (24/16rem);
            background: #fff;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            text-align: center;
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
            margin: 0 0 (28/16rem);
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: transparent;
            border: 1px solid var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition:
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-279 {
        &:before {
            /* 450px - 580px */
            height: clamp(28.125rem, 45vw, 36.25rem);
        }

        .cs-card-group {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-item {
            margin: 0;
            max-width: 100%;
        }
    }
} 
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1290 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            /* changes to 1440px at tablet */
            max-width: (550/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            max-width: (350/16rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-text {
            max-width: (630/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            background-color: #fff;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &::after {
                content: "";
                width: (20/16rem);
                height: (80/16rem);
                margin: (16/16rem) auto;
                background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-orange.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
                display: block;
                position: relative;
                z-index: 10;
            }

            &:nth-of-type(2) {
                &::after {
                    transform: scaleX(-1);
                }
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (150/16rem);
            margin: 0 0 (12/16rem) 0;
            background-color: var(--primaryLight);
            border-radius: (10/16rem);
            display: block;
            position: relative;
            z-index: 10;
            /* clips the img tag corners */
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-number {
            font-size: (20/16rem);
            font-weight: bold;
            width: (36/16rem);
            height: (36/16rem);
            margin: 0;
            padding: 0;
            color: #fff;
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            word-break: break-all;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            height: 25%;
            width: 100%;
            opacity: 0.5;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1290 {
        .cs-container {
            max-width: (1440/16rem);
            gap: (100/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 3;
            &::after {
                width: (120/16rem);
                height: (28/16rem);
                margin: 0;
                background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-orange-large.svg);
                position: absolute;
                bottom: (-40/16rem);
                left: clamp(8.5rem, 18vw, 18.5rem);
            }

            &:nth-of-type(2) {
                &::after {
                    top: (-60/16rem);
                    transform: rotateX(180deg);
                }
            }
        }

        .cs-background {
            top: 0;
            left: auto;
            right: 50%;
            /* 90px - 225px */
            margin-right: clamp(5.625rem, 15vw, 14.0625rem);
            height: 50%;
            width: 50vw;
        }
    }
}
                                           
           
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1673 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: (52/16rem);
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }

        .cs-background {
            display: none;
            position: absolute;
            left: 50%;
            /* changes to 40px at 1300px */
            right: (16/16rem);
            top: (40/16rem);
            bottom: (40/16rem);
            z-index: -1;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover; 
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1673 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-background {
            display: block;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-1673 {
        .cs-background {
            right: (40/16rem);
        }
    }
}
                                                                                     
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-88 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--primaryLight);
        }

        .cs-title {
            max-width: 20ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (400/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: (12/16rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            max-width: (150/16rem);
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 5vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primaryLight);
            display: block;
            /* 8px - 16px */
            margin: 0 0 clamp(0.5rem, 1vw, 1rem);
        }

        .cs-h3 {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: auto 0 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-image-group {
            width: 100%;
            max-width: (542/16rem);
            /* pushes down by the same amount the images overlap the image group */
            margin: 0 0 (40/16rem);
            display: flex;
            /* separate children to opposite sides of the room */
            justify-content: center;
            align-content: space-between;
            flex-wrap: wrap;
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-picture {
            width: 48%;
            /* 218px - 264px */
            min-height: clamp(13.625rem, 25vw, 16.5rem);
            aspect-ratio: 160/218;
            position: relative;
            display: block;

            &:nth-of-type(2) {
                /* move slightly down */
                transform: translateY(2.5rem);
            }

            &:nth-of-type(4) {
                /* move slightly up */
                transform: translateY(2.5rem);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes image act as a background image to the picture element */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-88 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            /* 44px - 108px */
            column-gap: clamp(2.75rem, calc(4.5vw * 1.3 + 2em), 6.75rem);
        }

        .cs-card-group {
            max-width: 100%;
        }

        .cs-image-group {
            /* 318px - 542px */
            width: clamp(19.875rem, 46.9vw, 33.875rem);
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-picture {
            width: 47.8%;
            aspect-ratio: initial;
        }
    }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1550 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            max-width: (1280/16rem);
            margin: auto;
        }

        .cs-card-group {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
            row-gap: (40/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 24px - 40px */
            gap: clamp(1.5rem, 4vw, 2.5rem);
            /* keeps all cs-items the same size with differing content lengths */
            flex: 1 0 0;
        }

        .cs-icon-wrapper {
            width: (80/16rem);
            height: (80/16rem);
            border: 1px solid var(--primary);
            border-radius: (100/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                opacity: 0.1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-icon {
            width: (36/16rem);
            height: auto;
            box-sizing: content-box;
        }

        .cs-flex {
            /* using margins instead of the flex parent for if content overflows. this keeps the icons in line of each other, while still centering the text */
            margin: auto 0;
        }

        .cs-h2 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (8/16rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1550 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
        }

        .cs-item {
            text-align: left;
            align-items: start;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #why-choose-1550 {
        .cs-item {
            flex-direction: row;
            justify-content: center;
            gap: (20/16rem);
        }
    }
}
                                
                                